* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}

body {
  font-family: sans-serif;
}

header {
  background: #333;
  color: white;
  padding: 1rem 0 3.5rem 1rem;
}
.main-nav {
  background: black;
}

.main-nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 0.8rem;
}

.main-nav li {
  color: white;
  font-weight: bold;
}

.container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  min-height: 60vh;
}

main {
  background: #ccc;
  padding: 1rem;
  color:#333; 
}

aside {
  background: #fff;
  padding: 1rem;
  color:#333;
}

footer {
  background: #333;
  color: white;
  text-align: center;
  height:150px;
  padding-top: 2.5rem;
}