
@media screen and (min-width: 800px){
    #menu {
    display: none;
  }
   .main-nav {
        display: flex !important;
        flex-direction: row;
        position: static;
        background: none;
        box-shadow: none;
        width: auto;
        border-radius: 0;
    }
   .main-nav a {
        display: block;
        padding: 0 1rem;
        border: none;
  }
}
